body {
    background-color: #1d2a35;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.header {
    margin: 20px 0;
  }
  .col-12 {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
  }
  .content-box-1 { /* Section block for 1 Bac */
    background-color: #aeeda8;
    border-radius: 10px;
    width: 100%;
  }

  .content-box-2 { /* Section block for 2 Bac */
    background-color: #ff9d9d;
    border-radius: 10px;
    width: 100%;
  }

a {
  text-decoration: none;
}
